# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "resources/city_data.csv"
ride_data_to_load = "resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
city_type__ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
city_type__ride_count
#urban_data_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
#suburban_data_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
#rural_data_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
city_type__driver_sum = pyber_data_df.groupby(["type"]).sum()["driver_count"]
city_type__driver_sum

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [22]:
#  3. Get the total amount of fares for each city type
city_type__fare_sum = pyber_data_df.groupby(["type"]).sum()["fare"]
city_type__fare_sum

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [24]:
#  4. Get the average fare per ride for each city type. 
city_type_fare_ride_avg = pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df.groupby(["type"]).count()["ride_id"]
city_type_fare_ride_avg

TypeError: cannot convert the series to <class 'float'>

In [7]:
#  5. Get the average fare per driver for each city type. 
city_type_fare_driver_avg = pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df.groupby(["type"]).sum()["driver_count"]
city_type_fare_driver_avg

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [27]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
             "Total Drivers": city_type__driver_sum,
             "Total Fares": city_type__fare_sum,
             "Average Fare per Ride": city_type_fare_ride_avg,
             "Average Fare per driver": city_type_fare_driver_avg})
pyber_summary_df.head()

,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per driver
Rural,537,4327.93,34.623440,8.059460
Suburban,8570,19356.33,30.970128,2.258615
Urban,59602,39854.38,24.525772,0.668675

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [25]:
#  8. Format the columns.
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per driver"] = pyber_summary_df["Average Fare per driver"].map("${:,.2f}".format)
pyber_summary_df.head()

ValueError: Unknown format code 'f' for object of type 'str'

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')